@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
body {
  font-family: 'Lato', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Lato', sans-serif;
}
h2 {
  font-size: 32px;
  font-weight: 300;
  line-height: 32px;
}
h3 {
  font-size: 24px;
}
p {
  font-size: 16px;
}
.title {
  text-align: center;
}
.title h2 {
  font-size: 36px;
  color: #1b1b1b;
  font-weight: 300;
}
.title p {
  font-size: 18px;
  font-weight: 400;
  color: #9da8ad;
}
.navbar-default {
  background: transparent;
  border: none;
  margin-bottom: 0;
}
ul li {
  list-style: none;
}
header {
  background-image: url("../images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 90px;
}
header .app-showcase {
  text-align: right;
}
header .block {
  padding-top: 70px;
}
header .block .logo {
  display: inline-block;
  margin-bottom: 70px;
}
header .block h2 {
  margin-bottom: 15px;
  color: #fff;
}
header .block p {
  margin-bottom: 27px;
  margin-top: 0;
  color: #383838;
}
header .block .download-btn a {
  display: inline-block;
  margin-right: 10px;
}
#service {
  padding: 80px 0 100px;
}
#service .title {
  padding-bottom: 90px;
}
#service .title h2 {
  margin-top: 0;
}
#service .block {
  text-align: center;
}
#service .block h3 {
  color: #202d33;
  line-height: 48px;
  margin-bottom: 0;
}
#service .block p {
  color: #707b82;
  line-height: 30px;
  padding: 0 20px;
}
#showcase {
  background-image: url("../images/showcase-bg.jpg");
  background-size: cover;
  baxkground-repeat: no-repeat;
}
#showcase .block {
  padding-top: 90px;
}
#showcase .block img {
  margin-bottom: -228px;
}
#feature {
  padding: 325px 0 105px 0;
}
#feature .title {
  margin-bottom: 60px;
}
#feature .block .media {
  margin-bottom: 33px;
}
#feature .block .media:last-child {
  margin-bottom: 0;
}
#feature .block .media h4 {
  color: #1b1b1b;
}
#feature .block .media p {
  color: #999999;
}
#feature .block .media > .pull-left {
  padding-right: 20px;
}
#testimonial {
  background: url('../images/testimonial-bg.jpg') no-repeat;
  background-size: cover;
  padding: 100px 0;
}
#testimonial .block {
  text-align: center;
}
#testimonial .block h5 {
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  color: #fff;
  display: inline-block;
  padding: 20px;
  font-size: 20px;
  width: 65%;
  margin: 0 auto;
}
#testimonial .block h5 span {
  font-size: 12px;
}
#team {
  padding: 80px 0 90px 0;
}
#team .title {
  margin-bottom: 50px;
}
#team .social-link {
  margin-top: 15px;
}
#team .social-link a {
  display: inline-block;
}
#team .btn-facebook {
  background: #6788ce;
  color: #fff;
  border-radius: 50%;
  padding: 9px 14px;
  font-size: 17px;
  line-height: 1;
  margin-right: 5px;
}
#team .btn-twitter {
  background: #29c5f6;
  color: #fff;
  border-radius: 50%;
  padding: 8px 9px;
  font-size: 20px;
  line-height: 1;
}
#team .media .pull-left {
  padding-right: 25px;
}
#team .media .media-heading {
  margin-top: 35px;
  font-size: 21px;
}
#team .media p {
  font-size: 16px;
  color: #707b82;
}
footer {
  padding: 60px 0;
  background: #fafafa;
  border-top: 1px solid #d7d7d7;
}
footer .navbar-nav {
  float: none;
  display: inline-block;
}
footer .navbar-nav li a {
  font-size: 20px;
  font-weight: normal;
}
footer .navbar-default .navbar-nav > li > a {
  color: #989898;
  padding: 20px 25px;
}
footer .social-link ul {
  margin-bottom: 0;
}
footer .social-link ul li {
  display: inline-block;
}
footer .social-link ul li a {
  color: #cccccc;
  font-size: 25px;
  padding: 0 5px;
  display: inline-block;
}
