/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  header .app-showcase img {
    max-width: 100%;
  }
  header .block .logo {
    margin-bottom: 35px;
  }
  .download-btn a img {
    width: 150px;
  }
  #service .block h3 {
    font-size: 22px;
  }
  #service .block p {
    padding: 0;
    font-size: 15px;
  }
  #showcase .block img {
    max-width: 100%;
    margin-bottom: 0;
    padding-bottom: 40px;
  }
  #feature {
    padding: 80px 0;
  }
  #team .media .pull-left {
    padding-right: 10px;
  }
  #team .media .pull-left {
    width: 100px;
    padding-right: 10px;
  }
  #team .media .media-heading {
    margin-top: 10px;
    font-size: 16px;
  }
  #team .media p {
    font-size: 14px;
  }
}
/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */
@media only screen and (max-width: 767px) {
  header {
    padding: 50px 0;
  }
  header .app-showcase img {
    max-width: 100%;
  }
  header .block .logo {
    margin-bottom: 20px;
  }
  header .block p {
    color: #fff;
  }
  .download-btn a img {
    width: 130px;
  }
  #showcase {
    padding-bottom: 50px;
  }
  #showcase .block img {
    max-width: 100%;
    margin-bottom: 0;
  }
  #feature {
    padding: 80px 0;
  }
  #team .media {
    margin-bottom: 20px;
  }
  #team .media .pull-left {
    width: 130px;
    padding-right: 10px;
  }
  #team .media .media-heading {
    margin-top: 10px;
    font-size: 18px;
  }
  #team .media p {
    font-size: 14px;
  }
  .title h2 {
    font-size: 30px;
  }
}
/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */
/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */
